@font-face {
  font-family: 'Bogue';
  src: url('/fonts/Fontspring-DEMO-bogue-regular.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Bogue', sans-serif;
}
