* {
  padding: 0;
  margin: 0;
  font-weight: 400;
  box-sizing: border-box;

  font-family: "EB Garamond", serif;
  font-family: "Lato", serif;
  font-family: "Road Rage", serif;
  font-family: "Manrope", serif;
}
body {
  background: rgb(31,32,32);
  background: radial-gradient(circle, rgba(31,32,32,1) 0%, rgba(31,32,32,1) 100%);
  

  min-height: 100vh;
}
