* {
  padding: 0;
  margin: 0;
  font-weight: 400;
  box-sizing: border-box;

  font-family: "EB Garamond", serif;
  font-family: "Lato", serif;
  font-family: "Road Rage", serif;
  font-family: "Manrope", serif;
}
body {
  background-image: url("../src/assets/Background.svg");
  width: 100%;
  min-height: 100svh;
  object-fit: contain;
  object-position: c;

}
