.ticket-div{
    background-image: url("../../assets/ticket.svg");
    background-repeat: none !important;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
}