.ticket-info{
   background: #08343c;
   border-radius: 1rem;
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
   padding: .1rem;
   height: 134px;
   margin-top: 1rem;
   border: 1px solid #133d44;
}
.ticket-info-first{
    display: flex;
}
.ticket-info-first div:first-child{
    border-right: 1px solid #133d44;
    flex-basis: 50%;
}
.ticket-info-first div:first-child{
    border-right: 1px solid #133d44;
    flex-basis: 50%;
}