.tickets-container{
    width: 35%;
    margin: auto;
    padding-bottom: 3rem;
}
.tickets-container h1{
    color: white;
    font-family: "Alatsi", serif;
    font-size: 2rem;
    font-weight: 400;
}
.tickets-container .title{
    text-align: center;

}
.tickets-container .title p{
    
}