.events{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    margin: auto;
}
.ticket-selection-card{
    text-align: center;
    color: white;
    font-family: "Roboto", serif;
}
.ticket-selection-card h1{
    font-family: "Road Rage", serif;
    font-size: 4rem;
    color: red;
}
.ticket-selection-card p{
    width: 80%;
    margin: auto;
    margin-top: .4rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
.ticket-selection-card span{
    line-height: 1.5rem;
}
.loc-nd-time{
    display: flex;
    width: 90%;
    margin: auto;
    text-align: center;
    justify-content: center;
    gap: .5rem;
    align-items: center; 
    height: 1.2rem;
    overflow: hidden;
}
.loc-nd-time div:first-child{
    border-right: 1px solid white;
    padding-right: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.loc-nd-time div:last-child{
    border-left: 1px solid white;
    padding-left: 1.2rem;
    height: 100%;
}
.big-card{
    padding: 1.5rem;
}
/* #082228  #0d3942 */