.field label{
    color: white;
    font-family: "Roboto", serif;
    font-size: .96rem;
    display: block;
    margin-bottom: .5rem;
    font-weight: 400;
}
.field input, .field select, .field textarea{
    padding: 1rem;
    border:1px solid #197686;
    background: transparent;
    border-radius: .6rem;
    width: 100%;
    color: white;
    outline: none;
}
.field textarea{
  resize: none;
}
.field{
    margin-top: 1.5rem;
    position: relative;
}
.field select option{
    color: black;
}
input:focus, select:focus {
    outline: none;
    border: 2px solid #07373F;
    box-shadow: 0 0 2px #07373F;
  }
  .select-ticket-type{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    background: #052228;
    border-radius: .5rem;
  }

  .ticket_type{
    color: white;
    font-family: "Roboto", serif;
    padding: .6rem;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: .2rem;
    border-radius: .5rem;
  }
  .ticket_type h3{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
  }
  .ticket_type p,   .ticket_type span{
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 300;
  }
  .ticket_type span{
    font-size: 14px;
  }
  .active_tab{
    background: #12464e;
  }
  .error-message{
    position: absolute;
    bottom: -20px;
    right: 10px;
    font-family: "Roboto", serif;
    font-weight: 600;
    opacity: 0;
    transform: translateY(-10px); 
    display: block;
    color: #ff4d4d;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  .error-message.show {
    opacity: 1;
    transform: translateY(0);
  }
  .error-message.hide {
    opacity: 0;
    transform: translateY(-20px); 
  }
 
  .image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #041b20;
    height: 9.5rem;
    margin-top: 1.8rem;
    margin-bottom: .8rem;
  }
  .image-upload{
    width: 11rem !important;
    height: 11rem !important;
    /* position: relative; */
 
  }
  
  .image-upload {
    display: none; 
  }
  
  .image-upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 11rem;
    height: 11rem !important;
    border: .19rem solid #1b8293;
    background: #0E464F;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
    overflow: hidden;
  }
  .image-upload-label:hover {
    border-color: rgba(255, 255, 255, 0.8);
  }
  .upload-box {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

  }
  .upload-box p {
    color: white;
    font-size: .8rem !important;
    text-align: center;
    font-weight: 300;
  }
  .image-preview{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .upload-err{
   top: 100px !important;
  }
  
  
  @media only screen and (max-width: 770px){
    .image-upload-label{
      width: 8rem;
      height: 9rem !important;
    }
  }