.button-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    margin-top: 1.5rem;
    border: none;
    padding: 0;
    
  
    /* background:linear-gradient(-42deg, #082228 45%, #0d3942 100%); */
}
.button-container button{
    width: 100%;
    font-size: 1.1rem;
    border-radius: 5px;
}
@media only screen and (max-width: 600px){
    flex-direction: c;
}