.button-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    margin-top: 2rem;
    border: none;
    padding: 0;
    padding: 1rem;
    /* padding-inline: 2rem; */
    /* backdrop-filter: blur(20px); */
    /* border-radius: 2rem; */
    /* background:linear-gradient(-42deg, #082228 45%, #0d3942 100%); */
}
.button-container button{
    width: 100%;
    font-size: 1.1rem;
    border-radius: 2rem;
}